Repository f2calv/azdo-pipelines-yaml-nuget: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipeline.yml, AzurePipelines/azure-pipeline.yml

.azure-pipelines/azure-pipeline.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: build
    steps:
    - task: DotNetCoreCLI@2
      displayName: dotnet restore script
      inputs:
        command: restore
        projects: '**/$(ProjectName).csproj
  
          **/$(ProjectName).Tests.csproj
  
          '
    - task: DotNetCoreCLI@2
  ...

AzurePipelines/azure-pipeline.yml:
  stages:
  - stage: Build
    jobs:
    - template: azure-pipeline.build.yml
  - stage: Test
    jobs:
    - template: azure-pipeline.test.yml

tweak
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

more tweaks
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

added net5.0
  MyPkgLib/MyPkgLib.csproj
  Readme.md
Due: .azure-pipelines/azure-pipeline.yml, AzurePipelines/azure-pipeline.yml

move libs into src
  azdo-pipelines-yaml-nuget.sln
  src/MyPkgLib.Tests/Class1.cs
  src/MyPkgLib.Tests/MyPkgLib.Tests.csproj
  src/MyPkgLib.Tests/coverage.cobertura.xml
  src/MyPkgLib/Class1.cs
  src/MyPkgLib/MyPkgLib.csproj
  src/MyPkgLibApp/MyPkgLibApp.csproj
  src/MyPkgLibApp/Program.cs
Due: none

test
  .azure-pipelines/azure-pipeline.yml
  GitVersion.yml
  build.bat
Due: .azure-pipelines/azure-pipeline.yml

need to add tool?
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

add displayNames
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

tweak
  src/MyPkgLib.Tests/MyPkgLib - Backup.Tests.csproj
Due: none

add .net 5
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

add both .net core versions
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

more pipeline tweaks
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

fixes
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

fix
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

tidy-up
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

try diff version
  GitVersion.yml
Due: none

revert GitVersion.yml
  GitVersion.yml
Due: none

try tag repo
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

try this
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

only tag when on master
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

change GitVersion to ContinuousDelivery
  GitVersion.yml
Due: none

added .net 5.0 target (#1)
  .azure-pipelines/azure-pipeline.yml
  AzurePipelines/azure-pipeline.build.yml
  AzurePipelines/azure-pipeline.publish.yml
  AzurePipelines/azure-pipeline.test.yml
  AzurePipelines/azure-pipeline.yml
  GitVersion.yml
  Readme.md
  azdo-pipelines-yaml-nuget.sln
  build.bat
  src/MyPkgLib.Tests/Class1.cs
  src/MyPkgLib.Tests/MyPkgLib - Backup.Tests.csproj
  src/MyPkgLib.Tests/MyPkgLib.Tests.csproj
  src/MyPkgLib.Tests/coverage.cobertura.xml
  src/MyPkgLib/Class1.cs
  src/MyPkgLib/MyPkgLib.csproj
  src/MyPkgLibApp/MyPkgLibApp.csproj
  src/MyPkgLibApp/Program.cs
Due: .azure-pipelines/azure-pipeline.yml, AzurePipelines/azure-pipeline.yml

Update and rename Readme.md to README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Delete build.bat
  build.bat
Due: none

updated readme (and test push to master)
  README.md
Due: none

tweak gitversion config
  GitVersion.yml
Due: none

don't push private pkg on pullrequest
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

always tag the build
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

tidy pipeline
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

fix reportgenerator for pwsh
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

fix report generator warning
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

pipeline tweaks
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

test new release
  .azure-pipelines/azure-pipeline.yml
  GitVersion.yml
  README.md
Due: .azure-pipelines/azure-pipeline.yml

try GithubRelease task
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

tweaks
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

fix sc
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

tidy up +semver: feature
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

improve pipeline
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

AddBuildTag
  .azure-pipelines/azure-pipeline.yml
Due: .azure-pipelines/azure-pipeline.yml

Path conditions:
  .azure-pipelines/azure-pipeline.yml: any of: .azure-pipelines, MyPkgLib, MyPkgLib.Tests, but not: README.md
  AzurePipelines/azure-pipeline.yml: any of: AzurePipelines, MyPkgLib, MyPkgLib.Tests, but not: README.md
